.carsDealership{
    display: flex;
}

.car{
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid red;
    border-radius: 5px;
    box-shadow: 0 0 10px #ccc;
}

.car h2{
    text-align: center;
    margin: 0;
    padding: 0;
    color: blue;
}


.car p {
    text-align: center;
    margin: 0;
    padding: 0;
    color: green;
}